.Logo_Secure {
    margin-top: 100px;
    list-style-type: none;
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 50px 55px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    float: right;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    line-height: 1;
    width: 40%;
    z-index: 80;
    height: 50px;
}

.boton {
    background-color: blue;
    color: white;
    padding: 30px 40px;
    border-radius: 300px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 50px;
    float: right;
}

.boton:hover {
    background-color: darkblue;
}

.Logo_Secure img {
    height: 50px;
    width: auto;
}

.llenado_datos {
    margin-top: 20px; 
    list-style-type: none;
}

.llenado_datos label,
.llenado_datos input[type="text"] {
    margin-left: 200px;
    display: block;
    list-style-type: none;
    margin: 100;
    padding: 100;
}

.llenado_datos input[type="submit"] {
    margin-left: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
